.navbar {
  background-color: #283593;
  margin-bottom: 50px;
}
.card-header {
  background-color: #5c6bc0;
  color: #FFFFFF;
}
.row {
  margin-bottom: 30px;
}

#results {
  display: none;
}

#all-results {
  display: none;
}
